/* Custom Stylesheet */
body, html {
      margin: 0;
      -webkit-font-smoothing: antialiased;
      background:#fff;
      text-align: center;
      -webkit-transition: opacity 400ms;
      -moz-transition: opacity 400ms;
      transition: opacity 400ms;
}

body .header{
  color: #000;
}
html {
min-height: 100%;
    }
body {
  padding: 0;
  position: relative;
  margin: 0;
  min-height: 100%;
}
.main  {
  margin: 25px auto;
  max-width: 980px;
  margin-bottom: 50px;
  overflow: hidden;
}
.main p {
  color: #000;
  text-align: left;
  font-size: 18px;
  line-height: 180%;
  font-weight: 100;
}

.nav-top a {
  color: #000;
}

/* ALL DEMO */
.shuffle-me {
  width: 25%;
  height: 150px;
  margin: 2%;
  display: block;
  position: relative;
  float: left;
  width: 26%;
  height: 209px;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.35);
  padding: 20px;
  text-align: center;
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.info h1 {
  font-weight: bold;
  color: white;
  font-size: 20px;
  margin: 55px 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0;
  
}

.info h1 a {
 color: #fff; 
}
.info h2 {
  margin-top: 0;
  color: white;
  font-size: 14px;
  font-family: georgia;
  font-style: italic;
}

.shuffle-group {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.shuffle-group .shuffle-me {
  width: 31.9%;
  float: left;
  margin: 5px;
}

.shuffle-group .shuffle-me:first-child {
  width: 66%;
  float: left;
  height: 431px;
}
.shuffle-group .shuffle-me:first-child h1 {
  margin-top: 190px;
  font-size: 30px;
}